#addFriendsWindow {
    -fx-background-color: white;
}

#addFriendsLabel {
    -fx-alignment:center;
    -fx-font: normal bold 30px 'italic';
}

#addFriendsUserNameTextField {
    -fx-alignment:center;
    -fx-font: normal 10px 'italic';
}

#addFriendsBtn {
    -fx-alignment: center;
    -fx-shape: "M 350 300 L 500 300 L 500 200 L 350 200 L 350 300";
    -fx-background-radius: 5em;
    -fx-font: normal bold 20px 'italic';
}

#backButton {
    -fx-image: url("../images/backbutton.png")
}

#backButton:hover {
    -fx-image: url("../images/backbuttonglow.png")
}
