#friendsListWindow {
    -fx-background-color: white;
}

#friendsListLabel {
    -fx-alignment:center;
    -fx-font: normal bold 30px 'italic';
}

#friendsListTextFormat {
    -fx-alignment:center;
    -fx-font: normal bold 10px 'italic';
}

#friendsListBox {
    -fx-border-style: solid;
    -fx-border-width: 0.5px;
}

#backBox {
    -fx-padding: 8,8,null,150;
}

#backButton {
    -fx-image: url("../images/backbutton.png")
}

#backButton:hover {
    -fx-image: url("../images/backbuttonglow.png")
}
