#friendsVersusWindow {
    -fx-background-color: white;
    -fx-background-image: url("../images/background.png");
    -fx-background-size: 600;
}

#friendsListLabel {
    -fx-alignment:center;
    -fx-font: normal bold 30px 'italic';
}

#backBox {
    -fx-padding: 8,8,0,150;
}

#backButton {
    -fx-image: url("../images/backbutton.png")
}

#backButton:hover {
    -fx-image: url("../images/backbuttonglow.png")
}
