#friendsVersusWindow {
    -fx-background-color: white;
    -fx-background-image: url("../images/background.png");
    -fx-background-size: 600;
}

#friendsListLabel {
    -fx-alignment:center;
    -fx-font: normal bold 30px 'italic';
}

#backBox {
    -fx-padding: 8,8,0,150;
}

#confirmBtn {
    -fx-alignment: center;
    -fx-shape: "M 350 300 L 500 300 L 500 200 L 350 200 L 350 300";
    -fx-background-radius: 5em;
    -fx-font: normal bold 20px 'italic';
}

#opponentsUsername {
    -fx-alignment: center;
    -fx-font: normal bold 20px 'italic';
}

#backButton {
    -fx-image: url("../images/backbutton.png")
}

#backButton:hover {
    -fx-image: url("../images/backbuttonglow.png")
}
