#friendsListWindow {
    -fx-background-color: white;
    -fx-background-image: url("../images/background.png");
    -fx-background-size: 600;
}

#friendsListLabel {
    -fx-alignment:center;
    -fx-font: normal bold 30px 'italic';
}

#friendsListTextFormat {
    -fx-alignment:center;
    -fx-font: normal bold 10px 'italic';
}

#friendsListBox {
    -fx-border-style: solid;
    -fx-border-width: 0.5px;
}

#requestBox {
    -fx-border-style: solid;
    -fx-border-width: 0.5px;
}

#recentBox {
    -fx-border-style: solid;
    -fx-border-width: 0.5px;
}

#backBox {
    -fx-padding: 8,8,0,150;
}

#backButton {
    -fx-image: url("../images/backbutton.png")
}

#backButton:hover {
    -fx-image: url("../images/backbuttonglow.png")
}

#addFriendsBtn {
     -fx-alignment: center;
     -fx-shape: "M 350 300 L 500 300 L 500 200 L 350 200 L 350 300";
     -fx-background-radius: 5em;
     -fx-font: normal bold 20px 'italic';
}