#helpWindow {
    -fx-background: white;
}

#helpLabel {
     -fx-font: normal bold 30px 'italic';
     -fx-padding: 0, 0,0, 100;
}

#backButton {
    -fx-image: url("../images/backbutton.png")
}

#backButton:hover {
    -fx-image: url("../images/backbuttonglow.png")
}

#helpText {
    -fx-image: url("../images/helpwindow.png")
}
