#loserWindow {
    -fx-background-color: white
}

#tieWindow{
    -fx-background-color: white;
    -fx-background-image: url("../images/background.png");
    -fx-background-size: 600;
}

#winnerWindow {
    -fx-background-color: white
}

#loserLabel {
    -fx-alignment:center;
    -fx-font: normal bold 30px 'italic';
}

#winnerLabel {
    -fx-alignment:center;
    -fx-font: normal bold 30px 'italic';
}

#tieLabel {
    -fx-alignment:center;
    -fx-font: normal bold 40px 'italic';
}

#rockLoss {
    -fx-image: url("../images/rock.png")
}

#paperLoss {
    -fx-image: url("../images/paper.png")
}

#scissorLoss {
    -fx-image: url("../images/scissors.png")
}

#backButton {
    -fx-image: url("../images/backbutton.png")
}

#backButton:hover {
    -fx-image: url("../images/backbuttonglow.png")
}