#mainWindow {
    -fx-background-color: white;
    -fx-background-image: url("../images/background.png");
    -fx-background-size: 600;
}

#loadWindow {
    -fx-background-color: white;
}

Label {
    -fx-alignment:center;
    -fx-font: normal bold 30px 'italic';
}

#rpsGif {
    -fx-image: url("../images/hands.gif");
}

Button {
     -fx-alignment: center;
     -fx-shape: "M 350 300 L 500 300 L 500 200 L 350 200 L 350 300";
     -fx-background-radius: 5em;
     -fx-font: normal bold 20px 'italic';
 }