#playRandomWindow{
    -fx-background-color: white;
}

#backButton {
    -fx-image: url("../images/backbutton.png")
}

#backButton:hover {
    -fx-image: url("../images/backbuttonglow.png")
}

#random {
    -fx-image: url("../images/randompick.jpg")
}

#mid {
    -fx-padding: 50, 50, 50, 50;
}
