#recentGamesWindow {
    -fx-background-color: white;
    -fx-background-image: url("../images/background.png");
    -fx-background-size: 600;
}

#backButton {
    -fx-image: url("../images/backbutton.png")
}

#backButton:hover {
    -fx-image: url("../images/backbuttonglow.png")
}

#box1 {
        -fx-border-color: black;
        -fx-border-insets: 20;
        -fx-border-width: 0.5;
        -fx-border-style: solid;
}

Label {
    -fx-font: normal bold 20px 'cambria';
}
