#recentGamesWindow {
    -fx-background: white;
}

#backButton {
    -fx-image: url("../images/backbutton.png")
}

#backButton:hover {
    -fx-image: url("../images/backbuttonglow.png")
}

#box1 {
    -fx-padding: 10, 50, 10, 10;
}

#wins {
    -fx-font: normal bold 20px 'italic';
}

#loss {
    -fx-font: normal bold 20px 'italic';
}
