#vsrWindow {
    -fx-background-color: white
}

#mainMenuBtn {
     -fx-alignment: center;
     -fx-shape: "M 350 300 L 500 300 L 500 200 L 350 200 L 350 300";
     -fx-background-radius: 5em;
     -fx-font: normal bold 20px 'italic';
}

#userChoice {

}

#userName {
    -fx-alignment:center;
    -fx-font: normal bold 30px 'italic';
}

#vsLabel {
    -fx-alignment:center;
    -fx-font: normal bold 30px 'italic';
}

#friendName {
    -fx-alignment:center;
    -fx-font: normal bold 30px 'italic';
}

#resultTextLabel {
    -fx-alignment:center;
    -fx-font: normal bold 30px 'italic';
}