<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://ec2-50-17-178-87.compute-1.amazonaws.com:5432/d3biv5j155is1v</property>
        <property name="connection.username">jxobeclzyreepf</property>
        <property name="connection.password">4ce1d93228a8d0c016098c63cfa769751115a60b5c2fceed51e649029c873397</property>

        <!-- Other settings -->
        <property name="connection.pool_size">100</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>

    </session-factory>
</hibernate-configuration>